<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="js">
<head>
  <meta name="generator" content= "HTML Tidy for Linux/x86 (vers 11 February 2007), see www.w3.org" />
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />

  <title><%= page_title %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'layout, collapsible' %>
  <%= stylesheet_link_tag 'http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css' %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

</head>

<body class= "not-logged-in front full-node node-type-page layout-main postscript-first-middle section-home browser-ie">
<div id="wrapper" class="clearfix">
    <div id="header" class="clearfix" style="border-top-left-radius: 20px 20px; border-top-right-radius: 20px 20px;">
      <div id="header-inner">
        <div id="logo">
          <a href="./" title="Home"><%= image_tag(logo) + site_name %></a>
        </div>

      </div><!--/ header-inner -->
    </div><!-- /header -->
    <%= render :partial => 'shared/menu'  %>

      <div id="main" class="clearfix" >
            <div id="content-wrapper" class="clearfix">
              <div id="content-inner" class="clearfix">
                <div id="content">
                <%= yield %>
                  </div><!-- /content -->
                </div><!-- /content-inner -->
              </div><!-- /content-wrapper -->
        </div><!-- /main -->

        <div id="footer" class="clearfix" style="border-bottom-left-radius: 20px 20px; border-bottom-right-radius: 20px 20px;">
          <div id="footer-wrapper" class="clearfix" >
            <div id="footer-first">
              Opensource to the world <%= Date.today.year %> <%= site_name %>
              <a href="/contact">contact</a> 
            </div><!-- /footer-first -->
          </div><!-- /footer-wrapper -->
        </div><!-- /footer -->
      </div><!-- /wrapper -->
    </div><!-- /page -->
  </div>
</body>
</html>

