<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<%= stylesheet_link_tag 'oico/layout', 'oico/style' %>
<%= javascript_include_tag 'oico/rollover' %>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>
</head>

<body id="page1" onload="MM_preloadImages('images/oico/m1-act.jpg','images/oico/m2-act.jpg','images/oico/m3-act.jpg','images/oico/m4-act.jpg','images/oico/m5-act.jpg')">
<div class="tail-top">
   <div class="tail-bottom">
      <div id="main">
         <!-- header -->
         <div id="header" class='<%= request.url == root_url ? '' : 'short'  %>'>
            <div class="row-1">
               <div class="fleft"><a href="/"><img alt="" src="images/oico/logo.jpg" /></a></div>
               <%= render :partial => 'shared/oico/menu'  %>
            </div>
            <% if request.url == root_url %>
              <% logo = Image.where("image_name ilike ?", "logo.jpg").first %>
              <div class="row-2">
                <div style="float:left; display:block">
                  <a href="/"><img alt="" src="<%= logo.url %>"></a>
                </div>
                <div style="float:left; display:block; margin: 1em;">
                  <iframe width="470" height="318" src="http://www.youtube.com/embed/u6VccVQNnAo" frameborder="0"></iframe>
                </div>
              </div>
           <% end %>
         </div>
         <!-- content -->
         <div id="content">
            <div class="wrapper">
               <div class="col-2 indent">
                  <%= yield %>
               </div>
            </div>
         </div>
         <!-- footer -->
         <div id="footer">
         	<p>Oregon Islamic Chaplain Organization. &copy; <%= Date.today.year %> | developed by Zaytona.com, LLC</p>
         </div>
      </div>
   </div>
</div>
</body>
</html>
